$base: 70px;
.BingoMatrix {
  width: $base * 5;
  color: rgba(#fff, .2);
  &.active {
    color: #fff;
    .box {
      border: 1px solid rgba(#fff, .2);
    }
  }
  .box {
    width: 70px;
    height: 70px;
    font-size: 20px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid rgba(#fff, .05);
    &.checked {
      position: relative;
      cursor: not-allowed;
      &:before {
        cursor: not-allowed;
        position: absolute;
        content: '';
        width: 60%;
        height: 60%;
        border-radius: 100%;
        background-color: rgba(lightgreen, .9);
      }
    }
    &.ing {
      position: relative;
      cursor: not-allowed;
      &:before {
        cursor: not-allowed;
        position: absolute;
        content: '';
        width: 60%;
        height: 60%;
        border-radius: 100%;
        background-color: rgba(#eee590, .9);
      }
    }
  }
}