.BingoMatrix {
  width: 250px;
  background-color: lighten(#ff0, 40%);
  &.active {
    background-color: #ff0;
    .box:hover {
      cursor: pointer;
      border-radius: 3px;
      background-color: #cc0;
    }
  }
  .box {
    width: 50px;
    height: 50px;;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &.checked {
      position: relative;
      cursor: not-allowed;
      &:before {
        cursor: not-allowed;
        position: absolute;
        content: '';
        width: 60%;
        height: 60%;
        border-radius: 100%;
        border: 2px solid rgba(red, .5);
      }
    }
  }
}